body {
    background: rgba(102,166,240,1);
    width: 100%;
    overflow-y: inherit;
}

#container{
    background-color: rgba(0, 0, 0, 0.2);
}

#locale {
    width: 100%;
}

#divSearch {
    min-width: 300px;
    max-width: 1000px;
    width: 70%;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

#btn:focus{
    box-shadow: none;
    background-color: #198754;
}

.danger {
    border: 1px solid #ff0000;
    color: #ff0000;
}

#today {
    min-width: 300px;
    max-width: 900px;
    width: 90%;
    justify-content: space-between;
}

ul li {
    background-color: rgba(255, 255, 255,0.5);
}

#previousHour {
    overflow-x: auto;
}

#hourly{
    min-width: 300px;
    max-width: 600px;
    width: 100%; 
}

#previousHour {
    min-width: 300px;
    max-width: 600px;
    width: 100%; 
}

#previousHour img {
    height: 80px;
    width: 80px;
}

#minMax {
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    height: 80px;
}

#previous {
    min-width: 300px;
    max-width: 900px;
    width: 90%;
    border-top: 3px solid #ffffff;   
}

#previousDaily {
    min-width: 300px;
    max-width: 900px;
    width: 100%;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 20px;
}

 @media (max-width: 991px) {
    #today {
        justify-content: center;
    }
 }