body {
    background: linear-gradient( rgb(87, 244, 255) 20%, rgba(102,166,240,1) 80%);
    height: 100vh;
}

#container{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    max-width: 900px;
}

#search {
    min-width: 200px;
    max-width: 500px;
    width: 70%;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

#btn:focus{
    box-shadow: none;
    background-color: #198754;
}

.danger {
    border: 1px solid #ff0000;
    color: #ff0000;
}

ul li {
    background-color: rgba(255, 255, 255,0.5);
}

#previousHour {
    overflow-x: auto;
}

#hourly{
    min-width: 350px;
    max-width: 900px;
    width: 65%; 
}

#imgHour {
    height: 70px;
    width: 70px;
}

#minMax {
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    height: 80px;
}

#previous {
    border-top: 3px solid #ffffff;
    
}

#previousDaily {
    min-width: 350px;
    max-width: 900px;
    width: 100%;
    overflow-x: auto;
}

#today {
    min-width: 350px;
    max-width: 900px;
    width: 89%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 20px;
}
